<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+TC">
    <link rel="stylesheet" href="../static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="../static/fonts/typicons.min.css">
    <link rel="stylesheet" href="../static/css/Animated-CSS-Waves-Background-SVG.css">
    <link rel="stylesheet" href="../static/css/Bootstrap-4---Team-Members.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">線上廟公解籤服務</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler float-right" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#download">try it now</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#features">Features</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#member">develop members</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <header class="masthead" style="background: url(&quot;../static/img/wallpaperflare.com_wallpaper.jpg&quot;) bottom / contain space, linear-gradient(black 96%, white 100%);height: 100%;">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7 d-lg-flex my-auto align-items-lg-start">
                    <div class="mx-auto header-content">
                        <h1 class="text-left d-lg-flex align-items-lg-center mb-5" style="font-family: 'Noto Sans TC', sans-serif;font-size: 61px;">線上廟公解籤服務</h1>
                        <p style="text-align: left;font-size: 25px;">有求必應，心誠則靈<br></p>
                        <h1 class="text-left d-lg-flex align-items-lg-center mb-5"></h1><a class="btn btn-outline-warning text-dark bg-primary btn-xl js-scroll-trigger" role="button" href="#download">tRY Now for Free!</a>
                        <h1 class="text-left d-lg-flex align-items-lg-center mb-5"></h1>
                        <h1 class="text-left d-lg-flex align-items-lg-center mb-5"></h1>
                        <h1 class="text-left d-lg-flex align-items-lg-center mb-5"></h1>
                        <h1 class="text-left d-lg-flex align-items-lg-center mb-5"></h1>
                    </div>
                </div>
                <div class="col-lg-5 my-auto">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device" style="background-image:url('../static/img/iphone_6_plus_white_port.png');">
                                <div class="screen"><img class="img-fluid" src="../static/img/267129474_471697597634090_4309996709063459480_n.jpg" style="width: 478px;height: 610px;padding: 0;margin: -15px;margin-bottom: 0;margin-left: 1px;margin-top: -28px;margin-right: 0;"></div>
                                <div class="button"></div>
                            </div>
                        </div>
                    </div>
                    <div class="iphone-mockup"></div>
                </div>
            </div>
        </div>
    </header>
    <section id="download" class="download text-center bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-11 mx-auto">
                    <h2 class="section-heading">籤文被拿光了嗎?<br>別擔心!使用我們的linebot 獲得更快速的解籤結果吧</h2>
                    <p>Our service is available on Line! Get it now to get started!</p>
                    <div class="badges"><a class="badge-link" href="https://liff.line.me/1645278921-kWRPP32q/?accountId=328jlyat"><img class="rounded" src="../static/img/LINE%20ICON.png" style="margin: -5px;border-style: none;"></a><img class="border rounded border-white" src="../static/img/269597908_609058816877336_3739278691921760516_n.png"
                            width="150"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="features" class="features">
        <div class="container">
            <div class="section-heading text-center">
                <h2>為何選擇我們?</h2><i class="typcn typcn-weather-partly-sunny" style="font-size: 83px;font-family: Lato, sans-serif;margin-top: 3px;"></i>
                <h1>全天候不打烊為廣大百姓解六十甲子籤</h1>
            </div>
            <div class="row">
                <div class="col-lg-12 my-auto">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature-item"><i class="icon-screen-smartphone text-primary"></i>
                                    <h3>多平台使用</h3>
                                    <p class="text-muted">安裝Line就能在各平台享受我們的服務</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item"><i class="icon-camera text-primary"></i>
                                    <h3>隨拍隨用</h3>
                                    <p class="text-muted">隨時拿起手機，只要拍照即可操作!</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item"><i class="icon-present text-primary"></i>
                                    <h3>永遠免費，且無廣告</h3>
                                    <p class="text-muted">我們致力讓大家體驗最高品質的解籤服務絕不以營利為導向</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item"><i class="icon-lock-open text-primary"></i>
                                    <h3>原圖解密</h3>
                                    <p class="text-muted">提供高清靈籤照片以讓您能仔細端詳它 原始的面貌</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cta" style="background: url(&quot;../static/img/61cb4f4961d23.jpg&quot;);">
        <div class="cta-content">
            <div class="container">
                <h2 style="font-family: 'Noto Sans TC', sans-serif;">製作沿革</h2>
                <p style="font-family: 'Noto Sans TC', sans-serif;font-size: 24px;color: rgb(255,255,255);"><br>110學年度，由國立中央大學通識中心所開設之"AI人工智慧導論"課程中，老師及第十組同學所開發之期末專題，旨在透過AI技術與工具，促進傳統文化交流以及創新應用<br><br></p>
            </div>
        </div>
        <div class="overlay"></div>
    </section>
    <section id="member">
        <h2 class="text-center">開發團隊</h2>
        <div class="row" style="text-align: center;margin: -2px;">
            <div class="col-lg-3">
                <div class="container" style="text-align: center;">
                    <h3 class="text-center" style="font-family: 'Noto Sans TC', sans-serif;font-size: 33px;">張家凱 助理教授</h3><img class="rounded-circle" src="../static/img/張家凱老師照片.jpg" width="200" height="200"></div>
                <p style="text-align: left;"><br>Ph.D., Graduate Institute of Photonics and Optoelectronics, &nbsp;National Taiwan University<br><br></p>
            </div>
            <div class="col-lg-3">
                <div class="container">
                    <h1 style="font-family: 'Noto Sans TC', sans-serif;font-size: 30;">謝舒雲<br></h1><img class="rounded-circle" src="../static/img/269896013_496144741793568_50879054377003147_n.jpg" width="150" height="150">
                    <p style="font-family: 'Noto Sans TC', sans-serif;font-size: 28;">國立中央大學地球科學學系四年級<br></p>
                </div>
                <div class="container">
                    <h1 style="font-family: 'Noto Sans TC', sans-serif;font-size: 30;">郭子維<br></h1><img class="rounded-circle" src="../static/img/270061739_260960159462358_2892835156578608864_n.jpg" width="150" height="150">
                    <p style="font-family: 'Noto Sans TC', sans-serif;font-size: 28;">國立中央大學物理系一年級<br></p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="container">
                    <h1 style="font-family: 'Noto Sans TC', sans-serif;font-size: 30;">江杰霖</h1><img class="rounded-circle" src="../static/img/270225901_450286716693545_512948092597879910_n.jpg" width="150" height="150">
                    <p style="font-family: 'Noto Sans TC', sans-serif;font-size: 28;">國立中央大學資電院學士班一年級<br></p>
                </div>
                <div class="container">
                    <h1 style="font-family: 'Noto Sans TC', sans-serif;font-size: 30;">溫楫驊<br></h1><img class="rounded-circle" src="../static/img/269939400_448445040020015_5243811698680981697_n.jpg" width="150" height="150"></div>
                <p style="font-family: 'Noto Sans TC', sans-serif;font-size: 28;">國立中央大學資管系一年級<br></p>
            </div>
            <div class="col-lg-3">
                <div class="container">
                    <h1 style="font-family: 'Noto Sans TC', sans-serif;font-size: 30;">高懿驊<br></h1><img class="rounded-circle" src="../static/img/269845873_457185379282549_294993217727984147_n.jpg" width="150" height="150">
                    <p style="font-family: 'Noto Sans TC', sans-serif;font-size: 28;">國立中央大學理院學士班一年級<br></p>
                </div>
                <div class="container">
                    <h1 style="font-family: 'Noto Sans TC', sans-serif;font-size: 30;">曾偉哲<br></h1><img class="rounded-circle" src="../static/img/267975336_462050298810702_2907980267175838823_n.jpg" width="150" height="150">
                    <p style="font-family: 'Noto Sans TC', sans-serif;font-size: 28;">國立中央大學理院學士班一年級<br></p>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="contact bg-primary">
        <div class="container bg-light">
            <h2><span>聯絡我們</span></h2>
            <p>歡迎追蹤我們的粉專!<br>將會不定期更新最新功能，也歡迎私訊小編回報問題<br></p>
            <ul class="list-inline list-social">
                <li class="list-inline-item social-facebook"><a href="https://www.facebook.com/%E7%B7%9A%E4%B8%8A%E5%BB%9F%E5%85%AC%E8%A7%A3%E7%B1%A4%E6%9C%8D%E5%8B%99-110104588214483" style="background: rgba(59,89,152,0);color: rgba(255,255,255,0);">Link<img src="../static/img/facebook%20(1).png" style="height: 100px;width: 100px;margin-top: -159px;margin-left: -9px;"></a></li>
            </ul>
        </div>
    </section>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="../static/js/new-age.js"></script>
</body>

</html>
